# Set HTTP headers as specified in https://observatory.mozzilla.org

# Enable HSTS.
#Header set strict-transport-security "max-age=31536000;"

# Disable unsafe inline/eval and plugins, only load scripts and stylesheets from
# same origin, fonts from google, and images from same origin and imgur.
# Sites should aim for policies like this.
#Header set Content-Security-Policy "default-src 'none'; font-src 'self' https://fonts.gstatic.com; img-src 'self'; object-src 'none'; script-src 'self' https://maps.googleapis.com https://maps.gstatic.com; style-src 'self' https://fonts.googleapis.com; frame-ancestors 'self'; base-uri 'self';"

# Only allow my site to frame itself
#Header set X-Frame-Options "SAMEORIGIN"

# Block pages from loading when they detect reflected XSS attacks
#Header set X-XSS-Protection "1; mode=block"

# Prevent browsers from incorrectly detecting non-scripts as scripts
#Header set X-Content-Type-Options "nosniff"

# For URL rewriting
#RewriteEngine On

# Redirect from http to https
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

